body{
    counter-reset: section; 
}

.container{
    width: 340px;
    /* height: 400px; */
    min-height: 200px;
    /* background: tomato; */
    border-radius: 6px;
    border: 1px solid;
}

input{
    margin-top: 10px;
}

li {
    margin-bottom: 10px;
    border: 1px solid;
}

.list{
    overflow: scroll;
    width: 300px; /* Ширина блока */
    height: 170px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
    border: solid 1px black; /* Параметры рамки */
}

.list-group-item::before{
    counter-increment: section;            
    content: "Дело " counter(section) ": "; 
}